<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SkuyJS - Todo List</title>
</head>
<body>
  <a href="/">
    <h1>SkuyJS - Todo List</h1>
  </a>

  <form action="/add" method="post">
    <h5 style="margin-bottom: 0;">Title</h5>
    <input type="text" name="title" />

    <h5 style="margin-bottom: 0;">Description</h5>
    <textarea name="description" rows="5"></textarea>

    <button style="display: block; margin-top: 15px">Save</button>
  </form>
</body>
</html>
