<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SkuyJS - Todo List</title>
</head>
<body>
  <a href="/">
    <h1>SkuyJS - Todo List</h1>
  </a>

  <div>
    <h3 style="margin-bottom: 0"><%= todo.title %></h3>
    <p style="margin-top: 0"><%= todo.description %></p>
  </div>
</body>
</html>
